

.page {
  background-color: #fafaf7;
  color: #e3bc9e;
  border: 1px solid #e3bc9e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  user-select: none;
}
